# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Debian Live build files
*.buildlog
*.img
*.iso
*.log
*.md5sum
*.packages
*.zsync
*~
.*~
.build/
.lock
.stage/
binary.contents
iso.ls-l
binary/
cache/
chroot.packages.install
chroot.packages.live
chroot/
config/binary
config/bootstrap
config/chroot
config/common
config/hooks/lang.*.chroot
config/includes.chroot/etc/emacs/site-start.d/99lang.*.el
config/package-lists/lang.*.list.chroot
config/source
