binary/
binary*.iso
binary*.img
binary*.tar*
binary*.contents
binary*.packages
binary*.zsync

.build/
build.log

cache/

chroot/
chroot.packages.*

config/binary
config/bootstrap
config/chroot
config/common
config/source

config/control

source/
source*.iso
source*.img
source*.tar*
source*.contents
source*.packages
source*.zsync

ltx/MateriAppsLive.wiki
ltx/github.css
ova/MateriAppsLive.wiki
ova/github.css

vagrant-box/box
vagrant-box/build-*.log
vagrant-box/debian7-*.json
vagrant-box/debian8-*.json
vagrant-box/debian9-*.json
vagrant-box/log
vagrant-box/output-*
vagrant-box/packer_cache

.DS_Store
