[Desktop Entry]
Encoding=UTF-8
Categories=X-MateriApps;
Type=Application
Exec=iceweasel https://github.com/cmsi/MateriAppsLive/wiki
Name=MateriApps LIVE! Wiki
Name[ja]=MateriApps LIVE! Wiki
