[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=iceweasel http://cmsi.github.io/MateriAppsLive/
Name=About MateriApps Live
Name[ja]=MateriApps Liveについて
