[Desktop Entry]
Encoding=UTF-8
Categories=X-MateriApps;
Type=Application
Exec=iceweasel http://ma.cms-initiative.jp/
Name=MateriApps Website
Name[ja]=MateriAppsウェブページ
