[Desktop Entry]
Encoding=UTF-8
Categories=X-MateriApps;
Type=Application
Exec=iceweasel http://cmsi.github.io/MateriAppsLive/
Name=About MateriApps LIVE!
Name[ja]=MateriApps LIVE!について
