[Desktop Entry]
Name=Getting Started
Comment=MateriApps LIVE! Getting Started
Type=Link
URL=https://github.com/cmsi/MateriAppsLive/wiki/GettingStarted
